global:
  scrape_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['localhost:9093']

rule_files:
  - "alert.rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'web-servers'
    static_configs:
      - targets:
{% for host in groups['webservers'] %}
          - '{{ hostvars[host].private_ip }}:9100'
{% endfor %}

  - job_name: 'db-servers'
    static_configs:
      - targets:
{% for host in groups['databases'] %}
          - '{{ hostvars[host].private_ip }}:9100'
{% endfor %}

  - job_name: 'fastapi-apps'
    static_configs:
      - targets:
{% for host in groups['webservers'] %}
          - '{{ hostvars[host].private_ip }}:8000'
{% endfor %}

  - job_name: 'nginx-exporters'
    static_configs:
      - targets:
{% for host in groups['webservers'] %}
          - '{{ hostvars[host].private_ip }}:9113'
{% endfor %}
